v-expansion-panels(flat)
  include rawMaterial.pug

  v-expansion-panel
    v-expansion-panel-header Hardware
    v-expansion-panel-content
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime dolores explicabo, voluptatibus, itaque facere dignissimos tempora fugiat animi reiciendis accusantium ab sunt blanditiis nihil. Voluptates, aliquid. Alias incidunt fugit excepturi.

  v-expansion-panel
    v-expansion-panel-header Details
    v-expansion-panel-content
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime dolores explicabo, voluptatibus, itaque facere dignissimos tempora fugiat animi reiciendis accusantium ab sunt blanditiis nihil. Voluptates, aliquid. Alias incidunt fugit excepturi.
