div
  v-row.pt-0.pb-0
    v-col.pt-0.pb-0(cols="2")
      baseCombo(
        :items="materials"
        label="Material"
      )
    v-col.pt-0.pb-0(cols="2")
      baseCombo(
        :items="materials"
        label="Unit of Measures"
      )
    v-col.pt-0.pb-0(cols="2")
      baseText(
        label="Price"
      )
