v-expansion-panel
  v-expansion-panel-header Material
  v-expansion-panel-content
    v-row.pt-0
      v-col(cols="6")
        v-autocomplete(
          :items="materials"
          clearable
          dense
          label="Material"
          outlined
        )
