// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
$font-size-root: 15px;
<<<<<<< HEAD
$input-font-size: 15px;
$label-font-size: 15px;
$text-field-padding: 1px;
$text-field-filled-full-width-outlined-single-line-slot-min-height: 35px;
$autocomplete-dense-enclosed-input-margin-top: 0px;
$autocomplete-enclosed-input-margin-top: 0px;
$tabs-bar-height: 32px;
$treeview-node-height-dense: 10px;
=======
$input-font-size: 10px;
$label-font-size: 10px;
$text-field-padding: 0px;
$text-field-filled-full-width-outlined-single-line-slot-min-height: 30px;
// $text-field-dense-label-active-transform: translateY(-50px) scale(.75);
// $text-field-label-active-transform: translateY(-50px) scale(.75);
// $text-field-outlined-label-position-y: -12px;
// $text-field-filled-full-width-label-active-transform: translateY(-50px) scale(.75);
>>>>>>> dd8e4c9f6e3e99a1cb373c407b055cb3a9a58498
