// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
$font-size-root: 15px;
$input-font-size: 15px;
$label-font-size: 15px;
$text-field-padding: 1px;
$text-field-filled-full-width-outlined-single-line-slot-min-height: 35px;
$autocomplete-dense-enclosed-input-margin-top: 0px;
$autocomplete-enclosed-input-margin-top: 0px;
$tabs-bar-height: 32px;
$treeview-node-height-dense: 10px;
